ion-content{
  --ion-background-color:#F2F2F2;
  text-align:center;
}
ion-img{
  max-width:210px;
  margin:auto;
  padding-top:80px;
}
ion-list{
  display:inline-block;
  width:90%;
}
ion-input{
  flex:5;
  color:#000;
  text-align:left;
  --placeholder-color:#000;
}
ion-button{
  margin-top:20px;
  --background:#d62826;
}
